# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build files
dist/
.cache/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Wrangler
.wrangler/
wrangler.toml.local

